.example-card {
    // max-width: 450px;
    width: 30vw;
    height: 30vw;
}

.description {
    overflow-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

img {
    // height: 270px;
    height: 18vw;
}

.min-height {
    // height: 145px;
    height: 10vw;
}

::ng-deep {
    .highlighted-text {
        background-color: yellow;
    }
}