.example-card {
    width: 30vw;
    height: 30vw;
}
img {
    height: 18vw;
}
.min-height {
    height: 10vw;
}


.description {
    overflow-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
::ng-deep {
    .highlighted-text {
        background-color: yellow;
    }
}