<mat-card
    *ngIf="article"
    class="example-card"
>
    <img
        mat-card-image
        [src]="article.imageUrl"
        alt="Article image"
    >
    <mat-card-content>
        <mat-card-subtitle>📅{{ article.updatedAt | date }}</mat-card-subtitle>
        <mat-card-title class="description">
            <mat-card-content [innerHtml]="article.title | highlighter:filterString"></mat-card-content>
        </mat-card-title>
        <p
            class="description"
            [innerHtml]="article.summary | highlighter:filterString"
        ></p>
    </mat-card-content>
    <a [routerLink]="[article.id]">
        <!-- <button mat-button>Read more →</button> -->
        Read more  &rarr;
    </a>
</mat-card>
