<!-- <main >
    <div class="filter">
        <p>Filter by keywords</p>
        <input
            #inp
            [value]="viewModel.filterString"
            (input)="filter(inp.value)"
        >
        <p>Results:{{viewModel.articles.length}}</p>
    </div>
  
</main> -->

<div
    *ngIf="viewModel$ | async as viewModel"
    class="content"
>
    <div
        fxLayout="row wrap"
        fxLayoutGap="16px grid"
    >
        <div
            fxFlex="25%"
            fxFlex.xs="100%"
            fxFlex.sm="50%"
            fxFlex.md="33%"
            *ngFor="let item of viewModel.articles"
        >

            <app-article-card
                class="mat-elevation-z4"
                [article]="item"
                [filterString]="viewModel.filterString"
            ></app-article-card>
        </div>
    </div>
</div>
