<main *ngIf="viewModel$ | async as viewModel">
    <div class="filter">
        <p>Filter by keywords</p>
        <input
            #inp
            [value]="viewModel.filterString"
            (input)="filter(inp.value)"
        >
        <p>Results:{{viewModel.articles.length}}</p>
    </div>
    <mat-grid-list
        cols="3"
        rowHeight="1:1"
    >
        <mat-grid-tile *ngFor="let item of viewModel.articles">
            <app-article-card
                [id]="item.id"
                [title]="item.title"
                [url]="item.url"
                [imageUrl]="item.imageUrl"
                [summary]="item.summary"
                [updatedAt]="item.updatedAt"
                [filterString]="viewModel.filterString"
            ></app-article-card>
        </mat-grid-tile>
    </mat-grid-list>
</main>
