<main *ngIf="selectedArticle$ | async as article else noArticlesTemplate">
    <div class="img_wrap">
        <img [src]="article.imageUrl">
    </div>
    <section>
        <div class="box">
            <div class="content">
                <h2>{{article.title}}</h2>
                <div class="text-content">
                    <p>{{article.summary}}</p>
                    <p>{{article.summary}}</p>
                    <p>{{article.summary}}</p>
                    <p>{{article.summary}}</p>
                </div>
            </div>
            <ng-container *ngTemplateOutlet="backToHomePage"></ng-container>
        </div>
    </section>

</main>

<ng-template #noArticlesTemplate>
    <section>
        No article found
        <ng-container *ngTemplateOutlet="backToHomePage"></ng-container>
    </section>
</ng-template>
<ng-template #backToHomePage>
    <div class="back-arrow-container">
        <a
            class="back-arrow"
            [routerLink]="''"
        >
            &#x2190; Back to home page
        </a>
    </div>
</ng-template>
